<div class="comment">
  <div class="issue">
    <h2>Edit</h2>

      <%= form_for [@topic, @comment] do |f| %>

        <%= f.label :"Choose an Issue which most closely pertains to your comment:" %>
        <br>
        <%= f.collection_select :topic_id, Topic.all, :id, :name %>
        <br>

        <%= f.label :"Let your local Member of Congress know how you feel:" %>
        <%= f.text_area :body %>

        <%= f.submit "Edit Comment" %>

      <% end %>
  </div>
</div>
